################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenBooks/bin
/OpenBooks/obj
/.vs
