################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/bin
/*/obj
/.vs
/OpenBooks/Properties/serviceDependencies.local.json.user
/OpenBooks/OpenBooks.csproj.user
